@media screen and (max-width: 570px) {
	.task-table-priority, .task-table-deadline, .task-table-size, .task-table-age {
		display: none;
	}
	.task-table-name {
		width: 60%;
	}
	.claim-info {
		width: 40%;
	}
	.claim-info input {
		font-size: 0.7em;
	}
}

h2 {
	background-color: #30415D;
	line-height: 56px;
	padding: 0 0 0 1.2%;
	margin: 0;
	font-size: 2em;
}
#page-description * {
	margin: 0;
	padding: 5%;
	background-color: #8EAEBD;
}

.task-table-name {
	width: 35%;
}
.tast-table-priority {
	width: 5%;
}
.task-table-deadline {
	width: 15%;
}
.task-table-size {
	width: 10%;
}
.task-table-age {
	width: 13%;
}
.claim-info {
	width: 17%;
}

button, #create-task-button, .close-task, .unclaim, .claim {
	-webkit-appearance: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: none;
	color: #fff;
	background: #30415D;
	padding: 4% 20px;
	text-decoration: none;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

input:focus, button:focus {
	outline: 0;
}
.new-task {
	cursor: pointer;
	background-color: #3F5882;
	padding: 8px 66px;
}
.new-task-div {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	margin-right: 2%;
	margin-top: 9px;
	background-color: transparent;
}

#create-task-button {
	margin: 1% 1% 1% 40%;
	width: 20%;
	text-align: center;
	padding: 1%;
	background-color: #3F5882;
}

::-webkit-calendar-picker-indicator {
	background: transparent;
}

.yes-button, .no-button {
	width: 10%;
	background-color: #3F5882;
	padding: 10px 20px;
	margin: 0 10px;
}
.buttons {
	text-align: center;
}

.no-tasks-message {
	padding: 2%;
}
