@media screen and (max-width: 570px) {
	.task-table-priority, .task-table-deadline, .task-table-size, .task-table-age {
		display: none;
	}
	.task-table-name {
		width: 60%;
	}
	.claim-info {
		width: 40%;
	}
	.claim-info input {
		font-size: 0.7em;
	}
}

#page-description * {
	margin: 0;
	padding: 5%;
	background-color: #8EAEBD;
}

.task-table-name {
	width: 35%;
}
.tast-table-priority {
	width: 5%;
}
.task-table-deadline {
	width: 15%;
}
.task-table-size {
	width: 10%;
}
.task-table-age {
	width: 13%;
}
.claim-info {
	width: 17%;
}

.claim-info form {
	font-size: 0;
}
.claim-info input {
	font-size: 14px;
}
.close-task-form input {
	margin-bottom: -2px;
}
.claim-form input {
	margin-bottom: -1.6094px;
}

#create-task-button, .close-task, .unclaim, .claim {
	-webkit-appearance: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: none;
	color: #fff;
	background: #30415D;
	padding: 4% 20px;
	text-decoration: none;
	width: 100%;
	text-align: center;
	cursor: pointer;
	-webkit-text-size-adjust: none;
}

input:focus, button:focus {
	outline: 0;
}

#create-task-button {
	margin: 1% 1% 1% 40%;
	width: 20%;
	text-align: center;
	padding: 1%;
	background-color: #3F5882;
}

::-webkit-calendar-picker-indicator {
	background: transparent;
}

.yes-button, .no-button {
	width: 10%;
	background-color: #3F5882;
	padding: 10px 20px;
	margin: 0 10px;
}
.buttons {
	text-align: center;
}

.no-tasks-message {
	padding: 2%;
}
