@media screen and (max-width: 570px) {
  .task-priority,
  .task-deadline,
  .task-size,
  .task-age {
    display: none;
  }

  .task-name {
    width: 55%;
  }

  .claim-info {
    width: 40%;
  }

  .claim-info input {
    font-size: 0.7em;
  }
}

#page-description * {
  margin: 0;
  padding: 5%;
  background-color: #8eaebd;
}

.task-pinned {
  width: 5%;
}

.task-name {
  width: 35%;
}

.task-priority {
  width: 5%;
}

.task-deadline {
  width: 15%;
}

.task-size {
  width: 10%;
}

.task-age {
  width: 13%;
}

.claim-info {
  width: 17%;
}

.claim-info input {
  font-size: 14px;
}

.close-form input {
  margin-bottom: -2px;
}

.closed-tasks-header {
  margin: 1% 2%;
  cursor: default;
}

#create-task-button,
.close-button,
.unclaim-button,
.claim-button,
.pin-button,
.yes-button,
.no-button {
  -webkit-appearance: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: none;
  background-color: #c6504f;
  color: #fff;
  text-decoration: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  -webkit-text-size-adjust: none;
  transition: 0.4s background-color;
}

.close-button,
.unclaim-button,
.claim-button,
.pin-button,
#create-task-button {
  display: block;
  height: 30px;
}

#create-task-button:hover,
.yes-button:hover,
.no-button:hover {
  background-color: #a53533;
}

.pin-button {
  background-color: #0074d9;
  border-radius: 0 0 8px 8px;
}

.claim-button {
  background-color: #2ecc40;
  border-radius: 8px;
}

.close-button {
  background-color: #2ecc40;
}

.unclaim-button {
  background-color: #aaa;
}

input:focus,
button:focus {
  outline: 0;
}

#create-task-button {
  width: 40%;
  margin: 10px auto;
  height: 40px;
}

::-webkit-calendar-picker-indicator {
  background: transparent;
}

.yes-button,
.no-button {
  width: 40%;
  max-width: 175px;
  background-color: #c6504f;
  height: 40px;
  margin: 0 10px;
}

.buttons {
  text-align: center;
  margin-top: 40vh;
}

.no-tasks-message {
  padding: 2%;
}

.bump-star {
  color: #2ecc40;
  font-size: 1.5em;
  vertical-align: middle;
}
