{
	"extends": "standard",
	"rules": {
		"indent": ["error", "tab"],
		"no-tabs": "off"
	},
	"env": {
		"browser": false,
		"node": false
	},
	"parserOptions": {
		"sourceType": "script"
	}
}
