<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}" />
		<title>Login</title>
		{% include 'bases/favicon_base.html' %}
	</head>
	<body>
		<h1><b>Collabo<span class="crimson">Dev</span></b></h1>
		<div class="content">
			<h2>Login</h2>
			{% if form.errors %}
				<p class="message">Please enter a valid username or password</p>
			{% elif next %}
    				{% if user.is_authenticated %}
   					<p class="message">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
				{% else %}
					<p class="message">Please login to see this page.</p>
				{% endif %}
			{% endif %}
			<form method="post">
			{% csrf_token %}
				<p>{{ form.username.label_tag }} {{ form.username }}</p>
  				<p>{{ form.password.label_tag }} {{ form.password }}</p>
				<button type="submit">Login</button>
			</form>
		</div>
	</body>
</html>
