h1 {
	font-size: 8em;
	margin: 0;
}

h2 {
	font-size: 2.5em;
	margin-top: 0;
}

p {
	font-size: 1.2em;
}

body {
	text-align: center;
}

#error-text {
	margin: 10px;
	font-size: 0.9em;
	background-color: #031424;
	overflow-x: scroll;
}
