body {
	background-color: #30415D;
	color: #fff;
	margin: 0px;
}
* {
	font-family: 'Saira Condensed', sans-serif;
}

.crimson {
	color: #C6504F;
}

.footer {
	background-color: #031424;
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 0.8em;
	position: absolute;
	bottom: 0;
}
.footer a, .footer p {
	position: relative;
	color: #fff;
	margin: 0;
	line-height: 40px;
	text-decoration: none;
}
.footer img {
	display: inline-block;
	vertical-align: middle;
}

.horizontal-break {
	background-color: #c6504f;
	height: 30px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #C6504F;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track {
  background: #031424;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.nav * {
	background-color: #30415D;
}
.nav ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: #30415D;
}
.nav li {
	font-size: 1.3em;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #000;
}
.nav a, .nav b {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .4s background-color;
}
.nav span {
	transition: .4s background-color;
}
.nav a:hover *, .nav a:hover, .active {
	background-color: #3f5882;
}
.active {
	cursor: default;
}
@media screen and (min-width: 640px) {
	.nav li {
		width: 25%;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 1.3em;
		float: left;

	}
	.nav ul {
		overflow: auto;
	}
	#logo {
		font-size: 1.75em;
	}
}

.progress-bar-div {
	background-color: #F1F1F1;
}
.progress-bar {
	height:6px;
	background-color: #9E9E9E;
}

a {
	cursor: pointer
}

a {
	outline: 0;
}
