<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% include 'bases/head_base.html' %}

		<title>Users</title>
	
		<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}" />
	</head>
	<body>
		{% include 'bases/navbar_base.html' %}
		<script>document.getElementsByClassName('nav')[0].children[0].children[2].children[0].className = 'active'</script>
		<h1>Users</h1>
		{% for user in users %}
			<div class="card" onclick="location.href = '{{ user.username }}/'">
				<img src="{% static user.profile.associated_image %}" class="profile-picture"></img>
				<div class="card-text">
					<p>{{ user.username }}, also known as {{ user.first_name }} {{user.last_name }}</p>
					<p>{{ user.profile.tasks_completed }} tasks completed</p>
					<p>Joined on {{ user.date_joined }}</p>
				</div>
			</div>
		{% endfor %}

		{% include 'bases/footer_base.html' %}
	</body>
</html>
