<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% include 'bases/head_base.html' %}

		<title>{{ chosen_user.username }} {% if chosen_user.first_name %}({{ chosen_user.first_name }} {{ chosen_user.last_name }}){% endif %}</title>
	
		<link rel="stylesheet" type="text/css" href="{% static 'accounts/profile/css/style.css' %}" />
	</head>
	<body>
		{% include 'bases/navbar_base.html' %}
		<script>
		if("{{ user.username }}" == "{{ chosen_user.username }}") {
			document.getElementsByClassName('nav')[0].children[0].children[5].children[0].className = 'active';
		}
		</script>

		<div class="parallax" style="background-image: url('{% static chosen_user.profile.associated_background %}')"></div>
		<div id="header-div">
			<img id="profile-picture" src="{% static chosen_user.profile.associated_image %}" {% if chosen_user_online %}style="border-color: #01FF70"{% endif %} />
			<h1>{{ chosen_user.first_name }} {{ chosen_user.last_name }} / {{ chosen_user.username }}{% if chosen_user.is_superuser %} <span class="tooltip">&#9733;<span class="tooltiptext">This user has administrative privileges</span></span>{% endif %}</h1>
		</div>
		<div class="content">
			<h2>Biography</h2>
			<p>
				{% if chosen_user.profile.biography %}
					{{ chosen_user.profile.biography }}
				{% else %}
					{{ chosen_user.first_name }} has not written a biography
				{% endif %}
			</p>			
			<p><u><a href="{{ chosen_user.profile.url }}" target="_blank">{{ chosen_user.profile.url }}</a></u></p>
			<h2>Contact</h2>
			<p>
				{% if chosen_user.email %}
					<a href="mailto:{{ chosen_user.email }}">{{ chosen_user.email }}</a>
				{% else %}
					{{ chosen_user.first_name }} has not provided an email
				{% endif %}
			</p>
			<p><i>Date joined: {{ chosen_user.date_joined }}</i></p>
		</div>
		{% include 'bases/footer_base.html' %}
	</body>
</html>
