<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% include 'bases/head_base.html' %}

		<title>{{ chosen_user.username }} {% if chosen_user.first_name %}({{ chosen_user.first_name }} {{ chosen_user.last_name }}){% endif %}</title>
	
		<link rel="stylesheet" type="text/css" href="{% static 'accounts/profile/css/style.css' %}" />
	</head>
	<body>
		{% include 'bases/navbar_base.html' %}
		<script>
		if("{{ user.username }}" == "{{ chosen_user.username }}") {
			document.getElementsByClassName('nav')[0].children[0].children[5].children[0].className = 'active';
		}
		</script>

		<div class="parallax" style="background-image: url('{% static chosen_user.profile.associated_background %}')"></div>
		<div id="header-div">
			<img id="profile-picture" src="{% static chosen_user.profile.associated_image %}" />
			<h1>{{ chosen_user.first_name }} {{ chosen_user.last_name }} / {{ chosen_user.username }}</h1>
		</div>
		<div class="content">
			<p>Maecenas accumsan, sem iaculis egestas gravida, odio nunc aliquet dui, eget
			cursus diam purus vel augue. Donec eros nisi, imperdiet quis, volutpat ac,
			sollicitudin sed, arcu. Aenean vel mauris. Mauris tincidunt. Nullam euismod
			odio at velit. Praesent elit purus, porttitor id, facilisis in, consequat ut,
			libero. Morbi imperdiet, magna quis ullamcorper malesuada, mi massa pharetra
			lectus, a pellentesque urna urna id turpis. Nam posuere lectus vitae nibh.
			Etiam tortor orci, sagittis malesuada, rhoncus quis, hendrerit eget, libero.
			Quisque commodo nulla at nunc. Mauris consequat, enim vitae venenatis
			sollicitudin, dolor orci bibendum enim, a sagittis nulla nunc quis elit.
			Phasellus augue. Nunc suscipit, magna tincidunt lacinia faucibus, lacus tellus
			ornare purus, a pulvinar lacus orci eget nibh. Maecenas sed nibh non lacus
			tempor faucibus. In hac habitasse platea dictumst. Vivamus a orci at nulla
			tristique condimentum. Donec arcu quam, dictum accumsan, convallis accumsan,
			cursus sit amet, ipsum. In pharetra sagittis nunc.

			Donec consequat mi. Quisque vitae dolor. Integer lobortis. Maecenas id nulla.
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed volutpat felis
			vitae dui. Vestibulum et est ac ligula dapibus elementum. Nunc suscipit nisl eu
			felis. Duis nec tortor. Nullam diam libero, semper id, consequat in,
			consectetuer ut, metus. Phasellus dui purus, vehicula sed, venenatis a, rutrum
			at, nunc. Pellentesque interdum sapien nec neque.

			Vivamus sagittis, sem sit amet porttitor lobortis, turpis sapien consequat
			orci, sed commodo nulla pede eget sem. Phasellus sollicitudin. Proin orci erat,
			blandit ut, molestie sed, fringilla non, odio. Nulla porta, tortor non suscipit
			gravida, velit enim aliquam quam, nec condimentum orci augue vel magna. Nulla
			facilisi. Donec ipsum enim, congue in, tempus id, pulvinar sagittis, leo. Donec
			et elit in nunc blandit auctor. Nulla congue urna quis lorem. Nam rhoncus pede
			sed nunc. Etiam vitae quam. Fusce feugiat pede vel quam. In et augue.

			Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

			Phasellus mollis dictum nulla. Integer vitae neque vitae eros fringilla rutrum.
			Vestibulum in pede adipiscing mi dapibus condimentum. Etiam felis risus,
			condimentum in, malesuada eget, pretium ut, sapien. Suspendisse placerat lectus
			venenatis lorem. Sed accumsan aliquam enim. Etiam hendrerit, metus eu semper
			rutrum, nisl elit pharetra purus, non interdum nibh enim eget augue. Sed
			mauris. Nam varius odio a sapien. Aenean rutrum dictum sapien. Fusce pharetra
			elementum ligula. Nunc eu mi non augue iaculis facilisis. Morbi interdum. Donec
			nisi arcu, rhoncus ac, vestibulum ut, pellentesque nec, risus. Maecenas tempus
			facilisis neque. Nulla mattis odio vitae tortor. Fusce iaculis. Aliquam
			rhoncus, diam quis tincidunt facilisis, sem quam luctus augue, ut posuere neque
			sem vitae neque.

			Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
			ridiculus mus. Nunc faucibus posuere turpis. Sed laoreet, est sed gravida
			tempor, nibh enim fringilla quam, et dapibus mi enim sit amet risus. Nulla
			sollicitudin eros sit amet diam. Aliquam ante. Vestibulum ante ipsum primis in
			faucibus orci luctus et ultrices posuere cubilia Curae; Ut et est. Donec.</p>
		</div>
		<!--<div class="content">
			<img class="profile-picture" src="
				{% if chosen_user.profile.gravatar_enabled %}
					{{ chosen_user.profile.gravatar_url }}
				{% else %}
					{% static chosen_user.profile.associated_image %}
				{% endif %}
			"></img>
			<div class="content-text">
				<h1>{{ chosen_user.first_name }} {{ chosen_user.last_name }}</h1>
				{% if chosen_user.is_superuser %}
					<p><strong>This user is an admin</strong></p>
				{% endif %}
				<p>Username: {{ chosen_user.username }}</p>
				<p>Joined: {{ chosen_user.date_joined }}</p>
				<p>Email: {{ chosen_user.email }}</p>
				<p>Last logged in: {{ chosen_user.last_login }}</p>
			</div>
		</div>-->
		{% include 'bases/footer_base.html' %}
	</body>
</html>
