<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% include 'bases/head_base.html' %}

		<link rel="stylesheet" type="text/css" href="{% static 'accounts/settings/css/style.css' %}" />

		<title>Settings</title>
	</head>
	<body>
		{% include 'bases/navbar_base.html' %}
		<script>document.getElementsByClassName('nav')[0].children[0].children[5].children[0].className = 'active'</script>
		<div class="content">
			<div class="sidebar">
				<ul>
					<a onclick="update_page('settings-profile')"><li>Profile</li></a>
					<a onclick="update_page('settings-account')"><li>Account</li></a>
					<a onclick="update_page('settings-notifications')"><li>Notifications</li></a>
					{% if user.is_superuser %}
						<a href="/admin/"><li>CollaboDev Admin</li></a>
					{% endif %}
				</ul>
			</div>
			<div class="inner-content">
				<form class="standard-form settings-form" method="post" action="/accounts/update_settings/" autocomplete="false">
					{% csrf_token %}
					<div id="settings-profile">
						<p><label>First Name: </label><input type="text" name="first_name" value="{{ user.first_name }}"></p>
						<p><label>Last Name: </label><input type="text" name="last_name" value="{{ user.last_name }}"></p>
						<p><label>Bio: </label><input type="text" name="profile_biography" value="{{ user.profile.biography }}"></p>
						<p><label>URL: </label><input type="text" name="profile_url" value="{{ user.profile.url }}"></p>
					</div>
					<div id="settings-account" style="display:none">
						<p><label>Username: </label><input type="text" name="username" value="{{ user.username }}"></p>
						<h2>Change Password</h2>
						<p><label>Old Password: </label><input type="password" name="old_pword"></p>
						<p><label>New Password: </label><input type="password" name="new_pword"></p>
						<p><label>Confirm Password: </label><input type="password" name="new_pword_conf"></p>
					</div>
					<div id="settings-notifications" style="display:none">
					</div>
					<p><input type="submit" class="button" value="Update Settings"></p>
				</form>
			</div>
			<script src="{% static 'accounts/settings/js/update_page.js' %}"></script>
		</div>
		{% include 'bases/footer_base.html' %}
	</body>
</html>
