.column {
	width: 33.33333333%;
	float: left;
	text-align: center;
}

@media screen and (max-width: 700px) {
	.column {
		width: 100%;
	}
	.column label {
		display: block !important;
		margin: 0 auto;
	}
}

.column input[type="text"],
.column input[type="password"] {
	border: 2px solid #3f5882;
	padding: 5px;
	width: 201px;
}

.column input[type="submit"] {
	margin-top: 60px;
}

.column textarea {
	border: 2px solid #3f5882;
	resize: none;
}

.column h2 {
	margin-top: 0;
}

.column:nth-child(2) label {
	display: inline-block;
	width: 80px;
}

.column:nth-child(3) label {
	display: inline-block;
	width: 120px;
}

.column:nth-child(8) {
	margin-bottom: 20px;
}

.column-breaker {
	clear: left;
}

.response-message {
	text-align: center;
	margin: 10px 0 0 0;
	height: 30px;
}

.textarea-input * {
	vertical-align: middle;
}
