h1 {
	margin: 2% 0 0 5%;
}

.profile-picture {
	border-radius: 50%;
	float: left;
	padding: 0;
	width: 40%;
}

.content-text p {
	margin: 4px;
	margin-left: 30px;
}

.content-text {
	align-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content {
	align-items: center;
	background-color: #c6504f;
	display: flex;
	margin: 10% auto;
	overflow: hidden;
	padding: 2%;
	width: 50%;
	min-width: 320px;
}
