h1 {
	font-size: 12vw;
	margin: 4.2% 0 0 0;
	text-align: center;
}

#collaborate,
#develop,
#login-button {
	font-size: 1.2em;
	text-align: center;
}

#collaborate,
#develop {
	padding: 1.8%;
}
