h1 {
	font-size: 12vw;
	margin: 4.2% 0 0 0;
	text-align: center;
}

#collaborate,
#develop,
#login-button {
	font-size: 1.2em;
	padding: 1.8%;
	text-align: center;
}

#login-button button {
	-webkit-appearance: none;
	background-color: #c6504f;
	border: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	padding: 8px 32px;
	text-align: center;
	text-decoration: none;
	transition: 0.4s background-color;
}

#login-button button:hover {
	background-color: #a53533;
}

#login-button button:focus {
	outline: 0;
}
