input[type=button]:focus, input[type=submit]:hover, button:focus {
	outline:0;
}

#create-user-button {
	margin: 1% 1% 1% 40%;
	width: 20%;
	text-align: center;
	padding: 1%;
	background-color: #3F5882;
}

.delete-user-form {
	display: inline-block;
	background-color: transparent;
}

.delete-user {
	background-color: #FF851B !important;
}
.delete-user:hover {
	background-color: #FF851B !important; 
}

.pword-content {
	text-align: center;
}
.pword-content h2 {
	font-size: 2em;
}
.temp-pword {
	font-size: 3em;
}
