input[type=button], input[type=submit], button {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #CF6766;
	border: none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	padding: 0.5% 2%;
	text-align: center;
	text-decoration: none;
	transition: .4s background-color;
}
input[type=button]:hover, input[type=submit]:hover, button:hover {
	background: #C6504F;
}
input[type=button]:focus, input[type=submit]:hover, button:focus {
	outline:0;
}

#create-user-button {
	margin: 1% 1% 1% 40%;
	width: 20%;
	text-align: center;
	padding: 1%;
	background-color: #3F5882;
}

.pword-content {
	text-align: center;
}
.pword-content h2 {
	font-size: 2em;
}
.temp-pword {
	font-size: 3em;
}
