<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% include 'bases/head_base.html' %}

		<title>Tasks</title>
	
		<link rel="stylesheet" type="text/css" href="{% static 'tasks/css/style.css' %}" />
	</head>
	<body>
		{% include 'bases/navbar_base.html' %}
		<script>document.getElementsByClassName('nav')[0].children[0].children[2].children[0].className = 'active'</script>

		<div id="page-description">
			{% if error_message %}
				<p>{{ error_message }}</p>
			{% else %}
				<p>On this page you can see a list of all open and closed tasks. You are also able to claim any open tasks for yourself or manage tasks that you have already claimed.</p>
			{% endif %}
		</div>

		{% if tasks %}
			<table class="header-table">
				<td><h1>Open Tasks</h1></td>
				<td><button class="header-button" onclick="show_modal('create_task', '{{ csrf_token }}')">New Task</button></td>
			</table>
			<table class="task-table">
				<tr>
					<th class="task-table-name">Name</th>
					<th class="task-table-priority">Priority</th>
					<th class="task-table-deadline">Deadline</th>
					<th class="task-table-size">Size</th>
					<th class="task-table-age">Age</th>
					<th class="claim-info"></th>
				</tr>
				{% for task in tasks %}
				{% if task.task_open %}
				<tr id="{{ task.id }}" class="open-task">
					<td class="task-table-name" onclick = "show_modal('task_data', '{{ task.id }}')">{% if task.is_pinned %}<span class="bump-star">★</span> {% endif %}{{ task.task_name }}</td>
					<td class="task-description" style="display: none">{{ task.task_description }}</td>
					<td class="task-owner" style="display: none">{{ task.task_owner }}</td>
					<td class="task-table-priority" onclick = "show_modal('task_data', '{{ task.id }}')">{{ task.task_priority }}</td>
					<td class="task-table-deadline" onclick = "show_modal('task_data', '{{ task.id }}')">
						{{ task.deadline_date }}
						<script>
							if ('{{ task.deadline_date }}' === '{{ task.publish_date }}') {
							var tt = document.getElementsByClassName('task-table-deadline');
							var td = tt[tt.length-1];
							td.innerHTML = 'None';
						}
						</script>
					</td>
					<td class="task-table-size" onclick="show_modal('task_data', '{{ task.id }}')">{{ task.task_size }}</td>
					<td class="task-table-age" onclick="show_modal('task_data', '{{ task.id }}')"></td>
					<td class="task-open" style="display: none">{{ task.task_open }}</td>

					<td class="claim-info">
						<form action="/tasks/claim/" method="post" class="claim-form">
							{% csrf_token %}
							<input type="hidden" value="{{ task.id }}" name="task_id">
                                                        <input value="Claim" class="claim-button" {% if user.is_superuser %}style="border-radius: 8px 8px 0 0"{% endif %}
							{% if user.profile.current_task is None %}
	  							type="submit"
	  						{% else %}
	  							type="button" onclick="show_modal('confirmation', ['{{ task.id }}', '0', 'Are you sure you want to claim this task? You are already on a task so claiming this one will unclaim your current one'])"
					  		{% endif %}
							/>
						</form>
						<form action="/tasks/close/" method="post" style="display: none" class="close-form">
							{% csrf_token %}
							<input type="hidden" value="{{ task.id }}" name="task_id">
							<input type="button" value="Complete" class="close-button" onclick="show_modal('confirmation', ['{{ task.id }}', '1', 'Are you sure you want to close this task?'])"/>
						</form>
						<form action="/tasks/unclaim/" method="post" style="display: none">
							{% csrf_token %}
							<input type="hidden" value="{{ task.id }}" name="task_id">
							<input type="button" value="Unclaim" class="unclaim-button" onclick="show_modal('confirmation', ['{{ task.id }}', '2', 'Are you sure you want to unclaim this task?'])"/>
						</form>
                                                <form action="/tasks/pin_task/" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{ task.id }}" name="task_id">
							<input type="submit" class="pin-button" value=
							{% if task.is_pinned %}
                                                                "Unpin task"
	  						{% else %}
	  							"Pin task"
					  		{% endif %}
                                                        />
                                                </form>
					</td>
					<script src="{% static 'tasks/js/size_int_to_str.js' %}"></script>
					<script src="{% static 'tasks/js/date_to_age.js' %}" task-publish-date="{{ task.publish_date.isoformat }}"></script>
				</tr>
				{% endif %}
				{% endfor %}
                                <script src="{% static 'tasks/js/create_buttons.js' %}"></script>
			</table>

			<div class="horizontal-break"></div>
			<h1 class="closed-tasks-header">Closed Tasks</h1>
			<table class="task-table">
				<tr>
					<th class="task-table-name">Name</th>
					<th class="task-table-priority">Priority</th>
					<th class="task-table-deadline">Deadline</th>
					<th class="task-table-size">Size</th>
					<th class="task-table-age">Age</th>
				</tr>
				{% for task in tasks %}
				{% if not task.task_open %}
				<tr id="{{ task.id }}" class="closed-task">
					<td class="task-table-name" onclick = "show_modal('task_data', '{{ task.id }}')">{{ task.task_name }}</td>
					<td style="display: none">{{ task.task_description }}</td>
					<td style="display: none">{{ task.task_owner }}</td>
					<td class="task-table-priority" onclick = "show_modal('task_data', '{{ task.id }}')">{{ task.task_priority }}</td>
					<td class="task-table-deadline" onclick = "show_modal('task_data', '{{ task.id }}')">
						{{ task.deadline_date }}
						<script>
						if ('{{ task.deadline_date }}' === 'Jan. 1, 1, midnight') {
							var tt = document.getElementsByClassName('task-table-deadline');
							var td = tt[tt.length-1];
							td.innerHTML = 'None';
						}
						</script>
					</td>
					<td class="task-table-size"  onclick = "show_modal('task_data', '{{ task.id }}')">{{ task.task_size }}</td>
					<td class="task-table-age" onclick = "show_modal('task_data', '{{ task.id }}')"></td>
					<td style="display: none">{{ task.task_open }}</td>

					<script src="{% static 'tasks/js/size_int_to_str.js' %}"></script>
					<script src="{% static 'tasks/js/date_to_age.js' %}" task-publish-date="{{ task.publish_date.isoformat }}"></script>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		{% else %}
			<p class="no-tasks-message">No tasks have been created. Create one <u><a onclick="show_modal('create_task', '{{ csrf_token }}')">here</a></u></p>
		{% endif %}

		{% include 'bases/modal_base.html' %}
		<script src="{% static 'tasks/js/modal.js' %}"></script>

		{% include 'bases/footer_base.html' %}
	</body>
</html>
