<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% include 'bases/favicon_base.html' %}

		<title>Tasks</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'tasks/css/style.css' %}" />

	</head>
	<body>
		<div class="nav">
			<ul>
				<li id="logo" class="nav-hover"><a href="/"><b>Collabo<span class="crimson">Dev</span></b></a></li>
				<li><a href="/tasks/" class="active">Tasks</a></li>
				<li><a href="/users/">Users</a></li>
				<li id="user-widget"><a href="/profile/"><span id="user-widget-text">{{ user.get_username }}</span></a></li>
			</ul>
		</div>
		<div class="progress-bar-div"><div class="progress-bar" style="width:0;"></div></div>
		<script src="{% static 'tasks/js/xp_bar.js' %}" tasks-completed="{{ tasks_completed }}"></script>

		<div id="page-description">
			{% if error_message %}
				<p>{{ error_message }}</p>
			{% else %}
				<p>On this page you can see a list of all open and closed tasks. You are also able to claim any open and unclaimed tasks for yourself.</p>
			{% endif %}
		</div>

		{% if tasks %}
			<div style="position: relative">
				<h2>Open Tasks</h2>
				<div class="new-task-div">
					<button class="new-task" onclick="show_modal('0', 'create_task')">New Task</button>
				</div>
			</div>
			<table class="task-table">
				<tr>
					<th class="task-table-name">Name</th>
					<th class="task-table-priority">Priority</th>
					<th class="task-table-deadline">Deadline</th>
					<th class="task-table-size">Size</th>
					<th class="task-table-age">Age</th>
					<th class="claim-info"></th>
				</tr>
				{% for task in tasks %}
				{% if task.task_open %}
				<tr id="{{ task.id }}">
					<td class="task-table-name" onclick = "show_modal({{ task.id }}, 'task_data')">{{ task.task_name }}</td>
					<td class="task-table-priority" onclick = "show_modal({{ task.id }}, 'task_data')">{{ task.task_priority }}</td>
					<td class="task-table-deadline" onclick = "show_modal({{ task.id }}, 'task_data')">{{ task.deadline_date }}</td>
					<td class="task-table-size" onclick = "show_modal({{ task.id }}, 'task_data')">{{ task.task_size }}</td>
					<td class="task-table-age" onclick = "show_modal({{ task.id }}, 'task_data')"></td>
					<td class="claim-info">
						<form action="/tasks/claim/" method="post">
							{% csrf_token %}
							<input type="hidden" value="{{ task.id }}" name="task_id">
							<input type="submit" value="Claim" class="claim" />
						</form>
						<form action="/tasks/close/" method="post" style="display: none" onsubmit="return confirm('Are you sure you want to close this task?');">
							{% csrf_token %}
							<input type="hidden" value="{{ task.id }}" name="task_id">
							<input type="submit" value="Complete" class="close-task" />
						</form>
						<form action="/tasks/unclaim/" method="post" style="display: none" onsubmit="return confirm('Are you sure you want to unclaim this task?');">
							{% csrf_token %}
							<input type="hidden" value="{{ task.id }}" name="task_id">
							<input type="submit" value="Unclaim" class="unclaim" />
						</form>
					</td>
					<script src="{% static 'tasks/js/size_int_to_str.js' %}"></script>
					<script src="{% static 'tasks/js/create_buttons.js' %}" task-owner="{{ task.task_owner }}"></script>
					<script src="{% static 'tasks/js/date_to_age.js' %}" task-publish-date="{{ task.publish_date.isoformat }}"></script>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
			<h2>Closed Tasks</h2>
			<table class="task-table">
				<tr>
					<th class="task-table-name">Name</th>
					<th class="task-table-priority">Priority</th>
					<th class="task-table-deadline">Deadline</th>
					<th class="task-table-size">Size</th>
					<th class="task-table-age">Age</th>
				</tr>
				{% for task in tasks %}
				{% if not task.task_open %}
				<tr id="{{ task.id }}">
					<td class="task-table-name" onclick = "show_modal({{ task.id }}, 'task_data')">{{ task.task_name }}</td>
					<td class="task-table-priority" onclick = "show_modal({{ task.id }}, 'task_data')">{{ task.task_priority }}</td>
					<td class="task-table-deadline" onclick = "show_modal({{ task.id }}, 'task_data')">{{ task.deadline_date }}</td>
					<td class="task-table-size"  onclick = "show_modal({{ task.id }}, 'task_data')">{{ task.task_size }}</td>
					<td class="task-table-age" onclick = "show_modal({{ task.id }}, 'task_data')"></td>
					<script src="{% static 'tasks/js/size_int_to_str.js' %}"></script>
					<script src="{% static 'tasks/js/date_to_age.js' %}" task-publish-date="{{ task.publish_date.isoformat }}"></script>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		{% else %}
			<p>No tasks have been created. Create one <a href="/tasks/create">here</a></p>
		{% endif %}
	<div class="modal-box">
		<div class="modal-content">
			<span class="modal-close-button" onclick="modal.style.display = 'none'">&times;</span>
			<div class="modal-text">
			</div>
		</div>
	</div>
	<script>
	function show_modal(task_id, data_type) {
		const modal_box = document.getElementsByClassName('modal-box')[0];
		const modal_content = modal_box.children[0].children[1];

		if (data_type == 'task_data') {
			{% for task in tasks %}
				if('{{ task.id }}' == task_id) {
					modal_content.innerHTML = '<h3 class="modal-header">{{ task.task_name }}</h3><br>' + 
			   					  '<b>Description: </b> {{ task.task_description }}<br>' +
								  '<b>Owner: </b> {{ task.task_owner }}<br>' +
								  '<b>Priority: </b> {{ task.task_priority }}<br>' +
		  						  '<b>Size: </b> '+document.getElementById('{{ task.id }}').children[3].innerHTML+'<br>' +
							 	  '<b>Created: </b> {{ task.publish_date }}<br>' +
		  						  '<b>Deadline: </b> {{ task.deadline_date }}<br>' +
								  '<b>Status: </b> {% if task.task_open %}Open{% else %}Closed{% endif %}'
					modal_box.style.display = 'block';
				}
			{% endfor %}
		}
		else if(data_type == 'create_task') {
			modal_content.innerHTML = '<h3>Create Task</h3>' +		
						  '<form action="/tasks/submit/" method="post">' +
						  "{% csrf_token %}" +
						  '<label>Task Name: </label><input type="text" name="task_name" id="task_name"><br>' +
						  '<label>Task Description: </label><input type="text" name="task_description" id="task_description"><br>' +
						  '<label>Task Owner: </label><input type="text" name="task_owner" id="task_owner"><br>' +
						  '<label>Task Priority: </label><select name="task_priority" id="task_priority">' +
						  '	<option value="1">1</option>' +
						  '	<option value="2">2</option>' +
						  '	<option value="3">3</option>' +
						  '	<option value="4">4</option>' +
						  '	<option value="5">5</option>' +
						  '	<option value="6">6</option>' +
						  '	<option value="7">7</option>' +
						  '	<option value="8">8</option>' +
						  '	<option value="9">9</option>' +
						  '	<option value="10">10</option>' +
						  '</select><br>' +
						  '<label>Task Size: </label><select name="task_size" id="task_size">' +
						  '	<option value="1">XXS</option>' +
						  '	<option value="2">XS</option>' +
						  '	<option value="3">S</option>' +
						  '	<option value="4" selected="selected">M</option>' +
						  '	<option value="5">L</option>' +
						  '	<option value="6">XL</option>' +
						  '	<option value="7">XXL</option>' +
						  '</select><br>' +
						  '<label>Deadline: </label><input type="date" name="deadline_date" id="deadline_date"><br>' +
						  '<input id="create-task-button" type="submit" value="Create" />' +
				  		  '</form>'
			modal_box.style.display = 'block';
		}
	}

	var modal = document.getElementsByClassName('modal-box')[0];
	window.onclick = function(event) {
	    if (event.target == modal) {
	        modal.style.display = "none";
	    }
	}
	</script>
	</body>
</html>
