<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% include 'bases/head_base.html' %}
		<title>Quests</title>
	
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'tasks/quests/css/style.css' %}" />

	</head>
	<body onload="positionFooter()">
		{% include 'bases/navbar_base.html' %}
		<div class="content">
			{% if quest_stage == -1 %}
				<div class="error-message">\
					<p>You currently aren't on a quest,<br>Find one on the tasks page</p>
				</div>
			{% else %}
				<div class="task">
					<h1 class="task-name">Task {{ quest_stage|add:"1" }}: {{ current_task.task_name }}</h1>
					<div class="task-data">
						<p>Description: {{ current_task.task_description }}</p>
						<p>Size: {{ current_task.task_size }}</p>
						<button class="submit">Submit Task</button>
					</div>
				</div>
			{% endif %}
		</div>
	{% include 'bases/footer_base.html' %}

	</body>
</html>
