<!DOCTYPE html>
<html>
	{% if password_page %} 
		<head>
			{% load static %}
			{% include 'bases/head_base.html' %}
			
			<link rel="stylesheet" type="text/css" href="{% static 'admin/first-time-setup-1/style.css' %}" />
		</head>
		<body>
			<div class="outer-content">
				<div class="content">
					<h1>Collabo<span class="crimson">Dev</span></h1>
					<h2>Initial Setup</h2>
					<form method="post" action="/" class="standard-form">
						{% csrf_token %}
						<p><label>Enter the code located within the uppermost folder of the repository to begin setup</label></p>
						<p><input type="text" name="setup-key"></p>
						<p><input class="button" type="submit" value="Submit"></p>
					</form>
				</div>
			</div>
		</body>
	{% elif setup_complete %}
		<head>
			{% load static %}
			{% include 'bases/head_base.html' %}
		</head>
		<body>
			<h1>Collabo<span class="crimson">Dev</span> Setup</h1>
			<p>In order to complete setup a system reboot is necessary. Please restart the CollaboDev process on your server</p>
		</body>
	{% else %}
		<head>
			{% load static %}
			{% include 'bases/head_base.html' %}

			<link rel="stylesheet" type="text/css" href="{% static 'admin/first-time-setup-2/css/style.css' %}" />
		</head>
		<body>
			<div class="outer-content">
				<div class="content">
					<h1>Collabo<span class="crimson">Dev</span> Setup</h1>
					<form id="main-form" class="standard-form" method="post">
						{% csrf_token %}
						<div id="account-creation">
							<h2>Let's start by creating you an admin account:</h2>
							<p><label>Username: </label><input type="text" name="admin-username"></p>
							<p><label>First Name: </label><input type="text" name="admin-first-name"></p>
							<p><label>Last Name: </label><input type="text" name="admin-last-name"></p>
							<p><label>Email: </label><input type="text" name="admin-email"></p>
							<p><label>Password: </label><input type="password" name="admin-password"></p>
							<p><label>Confirm Password: </label><input type="password" name="admin-password-conf"></p>
						</div>
						<div style="display: none">
							<p>Div2</p>
						</div>
					</form>
					<div class="buttons">
						<button onclick="updateDivs(-1)">Previous</button>
						<button onclick="updateDivs(1)">Next</button>
					</div>
					<script src="{% static 'admin/first-time-setup-2/js/updateDivs.js' %}">
					</script>
				</div>
			</div>
			{% include 'bases/footer_base.html' %}
		</body>
	{% endif %}
</html>
