<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% include 'bases/head_base.html' %}
		<link rel="stylesheet" type="text/css" href="{% static 'admin/users/css/style.css' %}" />

		<title>CollaboDev Admin</title>
	</head>
	<body>
		{% include 'bases/navbar_base.html' %}
		<table class="header-table">
			<td><h1>Manage Users</h1></td>
			<td><button class="header-button" onclick="show_modal('{{ csrf_token }}', 'new-user')">Create User</button></td>
		</table>
		<table>
			<tr>
				<th>Username</th>
				<th>Real name</th>
				<th>Email address</th>
				<th>Current task</th>
				<th></th>
			</tr>
			{% for user in users %}
				<tr>
					<td>{{ user.username }}</td>
					<td>{{ user.first_name }} {{ user.last_name }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.profile.current_task }}</td>
					<td>
						{% if user.is_superuser %}
							Cannot delete the account of a superuser unless using admin account
						{% else %}
							<form method="post" action="delete/">
								{% csrf_token %}
								<input type="hidden" value="{{ user.id }}" name="user">
								<input type="submit" value="Delete User">
							</form>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>

		{% include 'bases/modal_base.html' %}
		<script src="{% static 'admin/js/modal.js' %}"></script>
		{% if temporary_password != '' %}
			<script>
			show_modal('{{ temporary_password }}', 'show-pass')
			console.log('{{ temporary_password }}')
			</script>
		{% endif %}


		{% include 'bases/footer_base.html' %}
	</body>
</html>
