<div class="nav">
	<ul>
		<li id="logo" class="nav-hover"><a href="/"><b>Collabo<span class="crimson">Dev</span></b></a></li>
		<li><a href="/tasks/">Tasks</a></li>
		<li><a href="/accounts/">Users</a></li>
		<li id="user-widget"><a href="/accounts/{{ user.username }}"><span id="user-widget-text">{{ user.username }}</span></a></li>
	</ul>
</div>
<div class="progress-bar-div"><div class="progress-bar" style="width:0;"></div></div>
{% load static %}
<script src="{% static 'tasks/js/xp_bar.js' %}" tasks-completed="{{ user.profile.tasks_completed }}"></script>
