<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-icon-57x57.png' %}">
		<link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-icon-60x60.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-icon-76x76.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-icon-114x114.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-icon-120x120.png' %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-icon-144x144.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-icon-152x152.png' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icon-180x180.png' %}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'android-icon-192x192.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'manifest.json' %}">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{% static 'ms-icon-144x144.png' %}">
		<meta name="theme-color" content="#ffffff">
		<title>CollaboDev</title>
	</head>
	<body>
		<h1><b>Collabo<span class="crimson">Dev</span></b></h1>
		<div id="collaborate">
			<blockquote><b>Collaborate:</b> <i>Intransive verb, to work jointly with others or together especially in an intellectual endeavor.</i></blockquote>
		</div>
		<div id="develop"> 
			<blockquote><b>Develop:</b> <i>Transitive verb, to (cause something to) grow or change into a more advanced, larger, or stronger form.</i></blockquote>
		</div>
		<div id="login-button">
			<button onclick="location.href='/login/'">Login</button>
	</body>
</html>
