<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% include 'bases/head_base.html' %}

		<title>CollaboDev</title>

		<link rel="stylesheet" type="text/css" href="{% static 'index/css/style.css' %}" />
	</head>
	<body>
		<h1><b>Collabo<span class="crimson">Dev</span></b></h1>
		<h2>{% if user.is_authenticated %}{{ user.first_name }} {{ user.last_name }} / {{ user.username }}{% else %}Login{% endif %}</h2>
		{% if user.is_authenticated %}
			<img id="profile-picture" src="{% include 'bases/avatar_src_base.html' %}"/>
			<script>
			document.getElementById('profile-picture').style.borderColor = setLevelColour('{{ user.profile.tasks_completed }}')[0]
			</script>

			<br>
			<button onclick="location.href='/tasks/'">Login</button>
			<button onclick="location.href='/logout/'">Not {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}?</button>
		{% else %}
			<div id="profile-picture">
				<label>?</label>
			</div>
			<form class="standard-form" method="post">
				{% csrf_token %}
                                {% if login_failed %}<p>Incorrect username or password</p>{% endif %}
				<p><label>Username:</label><input type="text" name="username"></p>
				<p><label>Password:</label><input type="password" name="password"></p>
				<input type="submit" value="Login" class="button">
			</form>
		{% endif %}
		{% include 'bases/footer_base.html' %}
	</body>
</html>
