<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		{% include 'bases/head_base.html' %}

		<title>CollaboDev</title>

		<link rel="stylesheet" type="text/css" href="{% static 'index/css/style.css' %}" />
	</head>
	<body onload="positionFooter()">
		<h1><b>Collabo<span class="crimson">Dev</span></b></h1>
		<div id="collaborate">
			<blockquote><b>Collaborate:</b> <i>Intransive verb, to work jointly with others or together especially in an intellectual endeavor.</i></blockquote>
		</div>
		<div id="develop"> 
			<blockquote><b>Develop:</b> <i>Transitive verb, to (cause something to) grow or change into a more advanced, larger, or stronger form.</i></blockquote>
		</div>
		<div id="login-button">
			<button onclick="location.href='/login/'">Login</button>
		</div>
		{% include 'bases/footer_base.html' %}
	</body>
</html>
